<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" th:src="@{/smarteditor/js/HuskyEZCreator.js}" charset="utf-8"></script>
  <title>게시물 작성</title>
</head>
<body>
<h2>글쓰기</h2>
<form action="boardWriteForm.do" method="post">
  <table>
    <tbody>
    <tr>
      <td>제목</td>
      <td><input type="text" name="board_title" required></td>
    </tr>
    <tr>
      <td>내용</td>
      <td><textarea name="board_content" id="contentInput" required></textarea></td>
      <script>
        var oEditors = [];
        nhn.husky.EZCreator.createInIFrame({
          oAppRef: oEditors,
          elPlaceHolder: "contentInput",  //textarea ID 입력
          sSkinURI: "/smarteditor/SmartEditor2Skin.html",  //martEditor2Skin.html 경로 입력
          fCreator: "createSEditor2",
        });
      </script>
    </tr>
    <input type="hidden" name="id" th:value="${id}">
    </tbody>
  </table>
  <button type="submit">등록</button>
</form>
</body>

</html>