<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/user/userstyle.css">

  <title>게시물 작성</title>
</head>

<style>
  .ck-content {						/* ckeditor 높이 */
    height: 300px;
  }
</style>

<body>
<h2>글쓰기</h2>
<form action="boardWriteForm.do" method="post">
  <table>
    <tbody>
    <tr>
        <input type="text" class="form-control" name="board_title" required="required" placeholder="제목을 입력해주세요">
    </tr>
    <tr>
      <textarea name="board_content" id="contentInput" placeholder="내용을 입력해주세요"></textarea>
    </tr>
    <input type="hidden" name="id" th:value="${id}">
    </tbody>
  </table>
  <div class="d-grid gap-2" style="padding: 25px 1px 20px 3px;">
    <button class="btn btn-primary" type="submit">등록하기</button>
  </div>
  <script>
    /* 책 소개 */
    ClassicEditor
            .create(document.querySelector('#contentInput'))
            .catch(error=>{
              console.error(error);
            });
  </script>
</form>
</body>
</html>