<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<script>
    function usernameCheck() {
        const username = $("#id").val();
        const pw = $("pw")
        if (username == "") {
            alert("아이디를 입력해주세요!. 필수항목입니다.");
            $("#username").focus();
            return false;
        }
        $.ajax({
            type: "post",
            url: "checkID.do",
            data: {"id": username},     // 데이터를 전송하는 부분
            dataType: "json",           // 데이터를 받는 부분
            success: function (result) {
                if (result == "0") {
                    if (confirm("이 아이디는 사용 가능합니다. \n사용하시겠습니까?")) {
                        $("#id").attr("readonly", true);
                        $("#id").attr("disabled", true);
                        $("#id").css("display", "none");
                        $("#id").attr("disabled", false);
                        $("#id").css("display", "inline-block");
                    }
                    return false;
                } else if (result == "1") {
                    alert("이미 사용중인 아이디입니다.");
                    $("#username").focus();
                } else {
                    console.log(result);
                    alert("success이지만 result 값이 undefined 잘못됨");
                }
            },
            error: function (request, status,error) {
                alert("ajax 실행 실패");
                alert("code:" + request.status + "\n" + "error :" + error);
            }
        });
    }
</script>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="main-profile ">
            <div class="row">
                <div class="col-lg-8 align-self-center">
                    <ul>
                        <form action="Join.do" method="post">
                            <h2>회원가입</h2>
                            <hr>
                            <div class="form-group">
                                <label style="color:black">ID</label><br>
                                <input type="text" class="form-control" name="id" id="id" minlength="8" maxlength="30" required="required">
                                <input class="btn btn-outline-primary btn-sm idCheck mx-1" type="button" id="usernameOverlay" onclick="usernameCheck()" value="중복 체크"/>
                            </div>
                            <div class="form-group">
                                <label style="color:black">Name</label><br>
                                <input type="text" class="form-control" name="name" required="required">
                            </div>
                            <div class="form-group">
                                <label style="color:black">Password</label><br>
                                <input type="password" class="form-control" name="pw" id="pw" minlength="8" maxlength="30" required="required">
                            </div>
                            <div class="form-group">
                                <label style="color:black">Confirm Password</label><br>
                                <input type="password" class="form-control" name="pw_check" id="pw_check" minlength="8" maxlength="30" required="required">
                                <br>
                            </div>
                            <div class="d-grid gap-2" style="padding: 5px 1px 20px 3px;">
                                <button class="btn btn-primary" type="submit">제출하기</button>
                            </div>
                            <div class="main-border-button" style="text-align: center">
                                <a href="LoginForm.do">로그인하기</a>
                                <a href="FindForm.do">비밀번호 찾기</a>
                                <a href="/">홈으로 돌아가기</a>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
