<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="col-lg-8 align-self-center">
        <ul>
            <form action="Login.do" method="post">
                <h2>로그인</h2>
                <hr>
                <div class="form-group">
                    <label style="color:black">ID</label><br>
                    <input type="text" class="form-control" name="id" required="required">
                </div>
                <div class="form-group">
                    <label style="color:black">Password</label><br>
                    <input type="password" class="form-control" name="pw" required="required">
                </div>
                <div class="d-grid gap-2" style="padding: 25px 1px 20px 3px;">
                    <button class="btn btn-primary" type="submit">제출하기</button>
                </div>
                <div class="main-border-button" style="text-align: center">
                    <a href="FindForm.do">비밀번호 찾기</a>
                    <a href="JoinForm.do">회원가입하기</a>
                    <a href="/">홈으로 돌아가기</a>
                </div>
            </form>
        </ul>
    </div>
    </div>
</div>
</body>

</html>
